body{
    background-color: #f9f9f9;	
}

.wrapper{
  position: relative;
  background-color: #ffffff;
  width: 1050px;
  margin: 0px auto;
  box-shadow: 0 0 0px #d6d6d6;
}

.header{
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0px 46px 48px;
}

.logo{
  margin-top: 50px;
  margin-bottom: 40px;
}  
  
.menu-top{
  background: linear-gradient(to bottom, #5e5e5e 0%, #454444 100%);
  height: 40px;
}

.menu-top ul{
	font-size:0;
}

.menu-top li{
  display:inline-block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.menu-top li:first-child{
  padding-right: 30px;
}

.menu-top a{
  display: block;
  font-size: 15px;
  font-family: Arial, sans-serif;
	color: #ffffff;
	text-decoration: none;
	padding: 0px 24px;
  line-height: 40px;
}


.menu-top li a:hover{
  display: block;
  color: #ffffff;
}

.menu-top li:hover{
  background: linear-gradient(to bottom, #4a4a4a 0%, #2f2f2f 100%);
  border-right: 1px #838383 solid;
  border-left: 1px #838383 solid;
  transition: 0.5s all;
}

.menu-top li a:visited{
  color: #ffffff;
}

.container{
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0px 46px 48px;
}

.sidebar{
  width: 240px;
  float: left;
} 

.menu-left li{
  padding: 10px 24px;
  border: 1px solid #c8c8c8;
  margin-bottom: -1px;
}

.menu-left a{
  display: block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #2c2c2c;
  text-decoration: none;
}
  
.menu-left li a:hover{
    padding: 0px 0px 0px 10px;
}

.menu-left li:hover{
  	background-color: #f9f9f9;
}
 
.content{
  width: 676px;
  float: right;
}

.content-image{
  text-align: center;
  border: 1px #c8c8c8 solid;
  padding: 50px;
}

.content-text{
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 40px 24px;
} 

.footer{
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0px 50px 50px;
}

.menu-footer{
  background: #e1e1e1;
}

.menu-footer ul{
	font-size:0;
}
  
.menu-footer li{
  display:inline-block;
}

.menu-footer li:first-child{
  padding-right: 30px;
}

.menu-footer a{
  display: block;
  font-size: 15px;
  font-family: Arial, sans-serif;
	color: #2c2c2c;
  text-decoration: none;
	padding: 0px 24px;
  line-height: 40px;
}

.menu-footer li a:hover{
  display: block;
  color: #2c2c2c;
  text-decoration: underline;
}

.menu-footer li:last-child{
  float: right;
  font-size: 15px;
  font-family: Arial, sans-serif;
	color: #2c2c2c;
	padding: 12px 25px;
}

  .menu-footer li a:visited{
    color: #2c2c2c;
  }